@import "base";

.nav {
    width: 100%;
    height: 48px;
    background: rgba($color: $colorbase, $alpha: 0.75);
    @include flex;
    backdrop-filter: blur(12px);
    position: fixed;
    z-index: 5;
}
.part {
    width: 100px;
    height: 30px;
    @include flex;
    color: $color-text;
    // background: red;
    cursor: pointer;
    img {
        filter: invert(1);
    }
}
.log {
    width: 200px;
    img {
        width: 100%;
    }
}
.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    img {
        transition: 1s;
        position: absolute;
        overflow: hidden;
        height: 100%;
        opacity: 0.1;
        transition-timing-function: linear;
    }
    &-in {
        width: 95%;
        height: 70vh;
        margin: 50px auto;
        @include flex;
        @media(max-width:768px) {
        align-items: flex-start;
        margin-top: 20vh;
        }
    }
}

.txt {
    width: 15%;
    height: 30vh;
    font-size: 4.5em;
    transition-timing-function: linear;
    @media(max-width:768px){
        background: rgba(250, 255, 255, 0.7);
        border-radius: 26px;
        width: 80%;
        @include flex;
        font-size: 5em;
        height: 80vh;
        color: black;
        height: 30vh;
        box-shadow: 0px 0px 30px 10px rgba($color: #000000, $alpha: .2);
    }
    @media(max-width:640px){
        font-size: 4em;
        
    }
    @media(max-width:576px){
        font-size: 3em;
    }
    @media(max-width:400px){
        font-size: 2em;
    }
    @media(max-width:360px){
        font-size: 2em;
    }
}
.imagus {
    @extend .txt;
    @include flex;
    transition-timing-function: linear;
    @media(max-width:768px) {
        display: none;
    }
    img {
        opacity: 0.7;
        margin: 0;
        height: 300px;
    }
}
.back-pos {
    width: 85%;
    margin: 0 auto;
    @include flex;
    // flex-direction: column;
    flex-wrap: wrap;
}

.aks {
    width: 200px;
    height: 300px;
    background: linear-gradient(to top, #f3f3f3, #dfdfdf);
    margin: 30px 30px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    &:hover .ims {
        height: 90%;
    }
    .ims {
        width: 90%;
        height: 60%;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 25px;
        overflow: hidden;

        transition: 0.5s;
        @include flex;
        box-shadow: 0px 0px 7px 5px rgba($color: #000000, $alpha: 0.2);
        img {
            height: 100%;
        }
    }
    .moton {
        width: 100%;
        height: 20%;
        margin-top: 15%;
        @include flex;
        letter-spacing: 0.2em;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.footer {
    width: 100%;
    height: 48px;
    background: rgba($color: $colorbase, $alpha: 0.75);
    backdrop-filter: blur(12px);
    @include flex;
    flex-direction: column;
}
.work {
    color: black;
    float: left;
    h3 {
        float: left;
    }
}
.back-imgage {
    overflow: hidden;
}
.powerBy{
    // background: red;
    text-decoration: none;
    font-size: .6em;
    color: rgb(255, 0, 0);
    // position: absolute;
    // margin-left: 70vw;
}
