* {
    margin: 0;
    font-family: "Open Sans";
}
body {
    position: relative;
}
.eror {
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 9999;
    position: fixed;
    display: none;
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import "sec1";
@import "sec2";
@import "sec3";
header {
    width: 100%;
    height: 2vh;
    background-color: rgba(0, 0, 0, 0.3);
    letter-spacing: 3px;
    position: fixed;
    z-index: +999;
    float: left;
    @include flex;
    justify-content: space-around;
    font-family: "Open Sans";
    margin-top: 98vh;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    @media (max-width: 850px) {
        font-size: 0.7em;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.sectio {
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
}

.personalize {
    width: 36px;
    height: 36px;
    background-image: url("../../image/personalize.svg");
    // margin-top: -13px;
    position: fixed;
    margin: 13px 0 0 13px;
    z-index: +99999999;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}
.set {
    width: 350px;
    height: 26px;
    @include flex;
    margin-top: 15px;
    justify-content: space-between;
}
.sp{
    width: 360px;
    height: 26px;
    float: left;
    @include flex;
    justify-content: center;
    margin-top: 13px;
}
.minou{
    width: 50%;
    height: 20px;
    float: left;
}
.bot{
    width: 64px;
    height: 25px;
    @include flex;
    background: rgba(100, 255, 100, 1);
    // border-radius: ;
    margin-left: 5px;
    float: left;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    cursor: pointer;
}
.colors {
    width: 26px;
    height: 26px;
    background: yellow;
}

section {
    width: 100%;
    height: 20vh;
    @include flex;
    align-self: start;
    a {
        text-decoration: none;
        color: white;
        transition: 0.5s;
        &:hover {
            letter-spacing: 2px;
        }
    }
}
.midright {
    margin-top: 10vh;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
}
.close {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    margin: 13px 0 0 13px;
}
.person {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    z-index: +9897584;
    color: white;
    margin-left: -100vw;
    transition: 0.5s;
}
.invert {
    color: red;
}
.line {
    width: 100%;
    height: 10px;
    background: red;
    position: absolute;
    margin-top: 40%;
    float: left;

}
.line1 {
    transform: rotate(45deg);
}
.line2 {
    transform: rotate(-45deg);
}

.color0 {
    background: rgb(223, 213, 213);
}
.color1 {
    background: rgba(12, 150, 214, 0.733);
}
.color2 {
    background: rgb(255, 14, 223);
}
.color3 {
    background: rgb(37, 255, 128);
}

.color4 {
    background: rgb(223, 213, 213);
}
.color5 {
    background: rgba(12, 150, 214, 0.911);
}
.color6 {
    background: rgb(255, 14, 223);
}
.color7 {
    background: rgb(37, 255, 128);
}
