* {
    margin: 0;
    font-family:"Open Sans";
}
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    height: 48px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    position: fixed;
    color: rgb(250, 250, 250);
    
    @include flex;
}
.BaseOfObjects{
    width: 100%;
    @include flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: lightgray;
    margin-top: 48px;
    float: left;
}

.Certificates{
    width: 200px;
    height: 250px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 13px;
    margin: 30px 40px;
    cursor: pointer;
    float: left;
    .Name{
        color: rgb(255, 78, 78);
        height: 100%;
        font-size: 1.8em;
        @include flex;
        align-items: center;
    }
}