*{font-family: lalezar;margin: 0;border-radius: 13px;}
$Topmargin:5%;

input{
    width: 320px;
    height: 120px;
    @media(max-width:768px){
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }
    @media(min-width:768px){
        width: 60%;
        margin-left: 20%;
        margin-top: $Topmargin;
    }
    font-size: 1.2em;
    text-align: center;
}
button{
    width: 320px;
    height: 100px;
    font-size:2em;
    @media(max-width:768px){
        width: 85%;
        margin-left:7.5%;
        margin-top: 10%;
    }
    @media(min-width:768px){
        width: 40%;
        margin-left: 30%;
        margin-top: $Topmargin;
    }
}

.result{
    width: 320px;
    height: 0;
    transition: .5s;
    overflow: hidden;
    // height: 810px;
    margin-bottom: 60px;
    background: lightgray;
    @media(max-width:768px){
        width: 80%;
        margin-left:10%;
        margin-top: 10%;
        border-radius: 13px;
        
    }
    @media(min-width:768px){
        width: 90%;
        margin-left: 5%;
        margin-top: $Topmargin;
        border-radius: 13px;
    }
}

h2{
    width: 90%;
    height: 300px;
    font-size: 5em;
    margin-left: 5%;
    margin-top: 60px;
    float: left;
    text-align: center;
    line-height: 300px;
    background: rgba(255, 0, 0, 0.541);
    border-radius: 13px;
    @media(max-width:768px){
        margin-top: 30px;
    }
}
h6{
    width: 90%;
    height: 300px;
    font-size: 3em;
    margin-left: 5%;
    margin-top: 100px;
    float: left;
    text-align: center;
    line-height: 300px;
    background: rgba(255, 0, 0, 0.541);
    border-radius: 13px;
   
}
