* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Lalezar", cursive;
}

.mybody {
    background: #00232e;
    transition: 0.3s;
}
.nobody {
    background: #f3f3f3;
    transition: 0.3s;
}
.mtnlight {
    color: #f3f3f3;
}
.mtndark {
    color: #00232e;
}

.mtnlightt {
    color: #00232e;
}
.mtndarkt {
    color: #f3f3f3;
}

.nav {
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.67);
    backdrop-filter: blur(12px);
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 2;
}
.navindark {
    background-color: rgba(0, 0, 0, 0.733);
}
.naviu {
    width: 720px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: +10;
}
@media only screen and (max-width: 1200px) {
    .naviu {
        width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    .parametrs {
        display: none;
    }
    .sur {
        display: inline;
    }
    .naviu {
        justify-content: center;
    }
}
.parametrs {
    float: left;
    width: 15%;
    line-height: 350%;
    font-size: small;
    cursor: pointer;
}

.sur {
    background: url("../images/mylogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    margin-top: 7px;
}
.menuzy {
    width: 25%;
    height: 48px;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    @media (min-width: 768px) {
        display: none;
    }
}
.menu {
    transition: 0.5s;
    float: left;
    width: 30px;
    line-height: 350%;
    font-size: small;
    height: 30px;
    margin-top: 7px;
    background: red;
    position: absolute;
    z-index: +50;
    position: fixed;
}
.lighting {
    margin-right: 15%;
    width: 25%;
    height: 48px;
    margin-left: 75%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.5s;
    &:hover {
        opacity: 1;
    }
}

.asldoc {
    width: 60px;
    height: 30px;
    background: #341a37;
    border-radius: 30px;
    box-shadow: inset 3px 1px 8px 2px #1112;
    position: fixed;
}
.asldocindark {
    background: lightblue;
}
.docmi {
    margin-left: 30px;
    float: left;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 2px #1112;
    transition: 0.6s;
}
.antar {
    margin-left: 0px;
    box-shadow: -5px 0px 8px 2px #1112;
    background: #00232e;
}
.docmi:hover {
    box-shadow: inset 5px 0px 8px 2px #1112;
}
.openmenu {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(12px);
}
.mymenuinmini {
    transition: 0.5s;
    margin-top: 48px;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.56);
    backdrop-filter: blur(12px);
    position: fixed;
    z-index: 5;
    display: none;
}
.moly {
    transition: 0.5s;
    width: 60%;
    text-align: center;
    margin-top: 30px;
    background: lightseagreen;
    display: none;
    margin-left: 18%;
    border-radius: 25px;
    box-shadow: inset 5px 0px 8px 2px #1112, 5px 0px 8px 2px #1112;
    opacity: 0;
}
.molyindark {
    background: white;
}
.sdsmother {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}
.sds {
    width: 600px;
    background: #ebe3e3;
    box-shadow: 2px 3px 7px 2px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    float: left;
    transition: 1s;
}
.sdsindark {
    background: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
}

.onepage {
    margin-top: 60px;
    width: 100%;
    height: 400px;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (min-width: 1576px) {
        padding-top: 15vh;
    }
    @media (min-width: 1400px) {
        padding-top: 10vh;
    }
    // background: red;
}
.part {
    overflow: hidden;
    height: 360px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    border-radius: 48px;
}

.image {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px 3px rgba(22, 53, 226, 0.1);
}
.labraty {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 3px rgba(255, 27, 27, 0.2);
}

.meg {
    width: 360px;
    // height: 100%;
}
@media only screen and (max-width: 992px) {
    .part2 {
        width: 100px;
    }
}
@media only screen and (max-width: 768px) {
    .part2 {
        width: 320px;
    }
}

.hrr {
    width: 75%;
    height: 5px;
    background: black;
    float: left;
    margin-left: 15%;
    border-radius: 25px;
    
}

.sdsmother h2,
.sdsmother h5 {
    text-align: center;
}
.nomo {
    color: black;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
.mood {
    width: 100%;
    height: 620px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linga1,
.linga2 {
    width: 320px;
    height: 500px;
}
.boxy {
    width: 100%;
    height: 30px;
    background: lightblue;
    margin-top: 60px;
    float: left;
    border-radius: 100px;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.08);
    float: left;
    :hover {
        box-shadow: 0px 0px 1px 15px rgba(255, 255, 255, 0.8);
        width: 100px;
    }
}
.box {
    width: 0px;
    height: 30px;
    background: rgb(250, 1, 126);
    border-radius: 100px;
    transition: 0.5s;
}
.boxindark {
    background: #00232e;
}
.texyuse {
    width: 130px;
    height: 500px;
}
.big {
    width: 450px;
    height: 580px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 992px) {
    .big {
        width: 45%;
    }
}
@media only screen and (max-width: 768px) {
    .mood {
        height: 1131px;
    }
    .big {
        height: 540px;
    }
    .mood {
        display: block;
    }
    .big {
        margin: 0 0 0 10%;
        width: 80%;
    }
}
.hesh {
    width: 100%;
    height: 30px;
    margin-top: 60px;
    text-align: center;
    font-family: lalezar;
}
.titr {
    float: left;
    text-align: center;
    margin-top: 120px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .titr {
        width: 36%;
        margin-left: 32%;
    }
}
@media only screen and (max-width: 576px) {
    .titr {
        width: 80%;
        margin-left: 10%;
    }
}
.botom {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.boto {
    width: 200px;
    height: 30px;
    background: #00000096;
    color: #f3f3f3;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
    a {
        color: white;
    }
    &:hover {
        margin-top: -3px;
        box-shadow: 0px 3px 10px 7px rgba(0, 0, 0, 0.08);
    }
}

@media only screen and (min-width: 1200px) {
    .mood {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 1200px) {
    .mood1 {
        justify-content: center;
    }
}
.Aboute1 {
    width: 250px;
    height: 300px;
    background: blue;
    margin-right: 5%;
}

.Aboute2,
.Aboute1 {
    box-shadow: 2px 3px 7px 2px rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background: #fdfdff;
}
.hdffgvb {
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.05);
}
.Aboute2 {
    width: 450px;
    height: 250px;
    margin-left: 5%;
}
@media only screen and (max-width: 768px) {
    .mood1 {
        display: block;
    }
    .Aboute1,
    .Aboute2 {
        width: 70%;
        float: left;
        margin-left: 15%;
        margin-top: 150px;
    }
}
.nemonekar {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.sdwe,
.wfdc {
    width: 100%;
    text-align: center;
}
.sssddss {
    width: 100%;
}
.ssdsdsdsfd {
    float: left;
    margin-top: 50px;
}
.wfdc {
    font-size: 1.2em;
    float: left;
    margin-top: 50px;
}
.here {
    width: 200px;
    height: 200px;
    background: rgba(173, 216, 230, 0.733);
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}
.here a {
    margin: 0;
}
.here a img {
    width: 150px;
    margin-top: 25px;
    margin-left: 25px;
    float: left;
}
@media only screen and (max-width: 768px) {
    .here a img {
        width: 200px;
        margin: 0;
    }
    .sdwe,
    .wfdc {
        width: 70%;
        text-align: center;
        margin-left: 15%;
        font-size: 1em;
    }
    .nemonekar {
        display: block;
    }

    .here {
        margin-top: 70px;
        float: left;
        width: 70%;
        height: 360px;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}
.hhmw {
    width: 70%;
    height: 5px;
    background: black;
    float: left;
    margin-left: 15%;
    animation-name: hrr;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 25px;
    box-shadow: 30px 30px 60px black;
}
.footer {
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.aza {
    width: 50%;
    height: 400px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0 0;
}
.ozv1,
.ozv2,
.ozv3 {
    width: 200px;
    height: 100%;
}
.ozv1 h3,
.ozv2 h3,
.ozv3 h3 {
    width: 90%;
    height: 50px;
    font-size: 2.5em;
    text-align: right;
}
.hqmn {
    width: 90%;
    height: 50px;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: right;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .footer {
        height: 220px;
    }
    .aza {
        width: 100%;
        margin: 0;
        display: block;
        float: right;
        height: 144px;
    }
    .ozv1,
    .ozv2,
    .ozv3 {
        width: 100%;
        height: 68px;
    }
    .ffrtu {
        width: 73%;
        float: right;
        height: 68px;
        display: flex;
        justify-content: space-around;
        transition: 0.5s;
        overflow: hidden;
    }

    .hqmn {
        display: inline;
        float: right;
        width: 20%;
        text-align: center;
        line-height: 250%;
        background: rgba(2, 34, 39, 1);
        border-radius: 10px;
        box-shadow: 2px 3px 7px 5px rgba(0, 0, 0, 0.2);
    }
    .ozv1 h3,
    .ozv2 h3,
    .ozv3 h3 {
        float: right;
        width: 150px;
        text-align: center;
    }
}
@media only screen and (max-width: 576px) {
    .ozv1,
    .ozv2,
    .ozv3 {
        width: 95%;
        margin-left: 2.5%;
    }
    .ozv1 h3,
    .ozv2 h3,
    .ozv3 h3 {
        width: 120px;
    }
    .hqmn {
        width: 30%;
        font-size: 1em;
        line-height: 300%;
        margin-right: 2%;
    }
    .ffrtu {
        width: 70%;
    }
}
.bigfoot {
    width: 100%;
    height: 576px;
    background: rgba(0, 7, 12, 0.2);
    margin-bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    @media (max-width: 768px) {
        margin-top: 150px;
        overflow: hidden;
    }
}
.bigfootindark {
    background: rgb(231, 231, 231);
}

@media only screen and (max-width: 428px) {
    .ffrtu {
        transition: 0.5s;
    }
    .bigfoot {
        height: 650px;
    }
    .footer {
        height: 400px;
    }
    .ffrtu {
        width: 100%;
    }
    .ozv1,
    .ozv2,
    .ozv3 {
        height: 118px;
    }
    .ozv1 h3,
    .ozv2 h3,
    .ozv3 h3 {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .shhkjfdfkj {
        width: 0px;
        opacity: 0;
    }
    .nemonekar {
        height: 2000px;
    }
}

.endfoot {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}
.s1 {
    width: 30%;
    height: 48px;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s2 {
    width: 8%;
    height: 48px;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s3 {
    width: 8%;
    height: 48px;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s4 a {
    width: 12%;
    height: 100%;
}
.sjdf {
    width: 100%;
    height: 100%;
}
.s4 {
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .fffr {
        background: white;
        box-shadow: 2px 3px 7px 5px rgba(256, 256, 256, 0.2);
    }
    .Aboute2 .H2 {
        display: none;
    }
    .boxy {
        width: 70%;
        margin-left: 15%;
    }

    .endfoot {
        display: block;
    }
    .s1 {
        width: 80%;
        margin-left: 10%;
        float: left;
    }
    .s2,
    .s3 {
        width: 20%;
        float: left;
        margin-left: 20%;
    }
    .s4 {
        width: 70%;
        margin-left: 15%;
        float: left;
    }
}
.h2 {
    display: inline;
}
.lif,
.rot {
    width: 48%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Aboute2 h3 {
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
@media only screen and (max-width: 576px) {
    .Aboute2 h3 {
        font-size: 0.88em;
        margin-top: 25px;
    }
}

.r12 {
    background: url("../images/twitterindark.svg");
}
.r22 {
    background: url("../images/pintrastindark.svg");
}
.r32 {
    background: url("../images/dribbbleindark.svg");
}
.r42 {
    background: url("../images/instagramindark.svg");
}
.r52 {
    background: url("../images/youind.svg");
}

.r1 {
    background: url("../images/twitter.svg");
}
.r2 {
    background: url("../images/pinterest.svg");
}
.r3 {
    background: url("../images/dribbble.svg");
}
.r4 {
    background: url("../images/instagram.svg");
}
.r5 {
    background: url("../images/you.svg");
}

.sjdf {
    background-position: center;
    background-repeat: no-repeat;
}

.statosbar {
    width: 100%;
    height: 24px;
    background: rgba(147, 126, 138, 0.5);
    position: fixed;
    z-index: 5;
    margin-top: 47px;
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
}

.battery {
    width: 40px;
    height: 15px;
    background: #f3f3f3;
    margin-top: 4.5px;
    border-radius: 5px;
    font-size: 0.7em;
}

.time {
    width: 35%;
    height: 100%;
    text-align: center;
    line-height: 25px;
}
.tabrik {
    width: 40px;
    height: 15px;
    margin-top: 4.5px;
    text-align: center;
    line-height: 15px;
    font-size: 0.7em;
}
.h5ew {
    position: absolute;
    margin-left: 8.75px;
    line-height: 18px;
}
.inbat {
    width: 75%;
    height: 100%;
    background: #3cf68d;
    border-radius: 5px;
}
@media only screen and (min-width: 768px) {
    .statosbar {
        display: none;
    }
    .ffrtu {
        margin-top: 50px;
    }
    .sur {
        opacity: 0.6;
    }
    .sur:hover {
        opacity: 1;
    }
}
.naviu a {
    width: 15%;
}
.sur {
    width: 100%;
}

.language {
    width: 25%;
    height: 48px;
    position: fixed;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chan {
    width: 45px;
    height: 30px;
    background: red;
    background: url("../images/usa.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.itinphone {
    margin-top: 5%;
    display: flex;
    margin-left: 45%;
}
@media only screen and (max-width: 768px) {
    .itinphone {
        display: none;
    }
    .language {
        display: none;
        width: 8000px;
    }
}

.titr {
    font-size: 5em;
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    margin-top: 100px;
    @media (max-width: 576px) {
        font-size: 4em;
    }
    @media (max-width: 380px) {
        font-size: 3.5em;
    }
    @media (max-width: 320px) {
        font-size: 3em;
    }
    @media (max-width: 280px) {
        font-size: 2em;
    }
}
.titr1 {
    @media (max-width: 576px) {
        margin-top: -10px;
    }
}
@import "_menu";

.Aboute1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.special {
    height: 70%;
}
.row {
    width: 100%;
    height: 20%;
    float: left;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.in {
    width: 50%;
    height: 100%;
    font-size: 1.3em;
    float: left;
    text-align: center;
    line-height: 42px;
    @media (max-width: 360px) {
        font-size: 0.88em;
    }
}
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Learn-more {
    width: 320px;
    height: 320px;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    @include flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border-radius: 13px;
    margin-left: calc(-100% + 320px);
    transition: .7s;
    opacity: 0;
    @media (max-width: 768px) {
        margin: 0;
        width: 200px;
        height: 400px;
        position: fixed;
        margin-left: calc(50vw - 100px);
        // margin-top: -2118px;
    }
}

.Episode {
    width: 100%;
    height: 30%;
    margin: 5px;
    @include flex;
}
.logoOfThecknilogy {
    width: 50%;
    height: 80px;
    @include flex;
    @media(max-width:768px){
        width: 70%;
        
    }
    justify-content: space-between;
    .ImageOGThecknology {
        .imagOfMe {
            width: 100%;
            margin-top: 10px;
        }
        width: 35%;
        // height: 100%;
        overflow: hidden;
        img {
            width: 105%;
        }
    }
    .NameOGThecknology {
        
        height: 100%;
        @include flex;
        font-size: 1.5em;
        width: 55%;
        @media(max-width:768px){
           font-size: 1em;
        }
        
    }
}
.ThreEpisode {
    justify-content: space-around;
}
.Alltheme {
    width: 50px;
    height: 60px;
    background: white;
    @include flex;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        box-shadow: 0px 0px 15px 7px rgba($color: #000, $alpha: 0.05);
        margin-top: 0px;
    }
}

.oneEpisode {
    @media(max-width:768px){
        margin-top: 260px;
    }
     @media(min-width:768px){
        margin-top: -260px;
    }
}

.pOfEpisode {
    width: 75%;
    background: rgba(255, 255, 255, 0.548);
    font-size: 0.95em;
    text-align: center;
    padding: 4%;
    border-radius: 7px;
}
.AbouteMeI{
    width: 20%;
    height: 10%;
    background: rgb(30, 30, 50);
    // margin-top: 2%;
    margin-left: 15%;
    border: none;
    line-height: 0;
    @include flex;
    border-radius: 7px;
    color: white;
    transition: .15s;
    box-shadow: 0px 0px 7px 15px rgba($color: #000000, $alpha: .005);
 
    &:hover{
        background: black;
    }
}